/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

header nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header a {
    font-weight: 550;
    padding: 0.75rem;
    text-decoration: none;
}

header a.active {
    background-color: var(--secondary-color);
}

header a:hover {
    background-color: var(--triandary-color);
}

header img {
    margin-left: 0.5rem;
    max-height: 35px;
    transform: rotate(30deg);
}

.skills-banner {
    flex-wrap: wrap;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.banner-skills {
    background-color: var(--accent-color-2);
    color: var(--text-color-dark-secondary);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}
