@import "../../style.css";

/* Timeline */
.timeline_container {
    align-self: center;
    position: relative;
    max-width: 60%;
}

.vertical_line {
    align-self: center;
    fill: var(--accent-color-2);
    stroke: var(--accent-color-2);
    stroke-width: 1.5rem;
    width: 3rem;
    height: 100%;
    left: calc(50% - 1.5rem);
    position: absolute;
}

/* Timeline Items */
.timeline_item {
    position: relative;
    display: block;
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;
    text-align: left;
    background-color: var(--background-color-light);
    z-index: 2;
}
.timeline_item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
    transition: border-color 0.3s;
    background: none;
    z-index: 4;
    border-radius: 0.5rem;
}
.timeline_item:hover::after {
    border-color: var(--accent-color);
}

.icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.content {
    color: var(--text-color-dark-secondary);
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background 0.3s;
}

.content h3 {
    margin-top: 0;
    font-size: 1.25rem;
    color: var(--text-color-primary);
}

.subtitle {
    font-style: italic;
    font-size: 0.9rem;
    color: var(--text-color-secondary);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.skill {
    background-color: var(--accent-color-2);
    color: var(--text-color-dark-secondary);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}
