@import "../../style.css";

.page p {
    color: var(--text-color-light-primary);
    margin: 0 4rem;
    line-height: 1.55;
}
.page ul {
    margin: 0 3rem;
    line-height: 1.55;
}
.page ul,
.page li {
    color: var(--text-color-light-primary);
}

.page-section {
    color: var(--text-color-light-primary);
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
.page-section a {
    width: 100%;
}
.page-section img {
    width: 100%;
    height: auto;
}

.column {
    flex-direction: column;
}
.column p {
    align-self: left;
    margin-top: 0.75rem;
}

/* Left alignment */
.left {
    justify-content: flex-start;
}
.left img {
    margin-right: auto;
    max-width: 12rem;
}
.left p {
    margin-left: 2rem;
}

/* Right alignment */
.right {
    justify-content: flex-end;
}
.right img {
    margin-left: auto;
}
.right p {
    margin-right: 2rem;
}

.img-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.img-bar a {
    flex: 1;
    max-width: calc(25% - 1rem);
    text-align: center;
}
.img-bar img {
    max-width: 10rem;
    height: auto;
    display: block;
    margin: 0 auto;
}