@import "../../style.css";

.wrapper a {
    text-decoration: none;
}
.another_wrapper {
    display: flex;
    flex-direction: row;
}
.title_wrapper {
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.title {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color-light-primary);
}
.back_button {
    position: sticky;
    top: .25rem;
    margin: .5rem .5rem 0 .5rem !important;
    width: 100;
}
.summary {
    text-align: right;
    margin: 1.5rem 2rem 1.5rem auto;
    max-width: 45%;
    color: var(--text-color-light-secondary);
}
