:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Primary Colors */
    --primary-color: #00375a; /* prussian-blue */
    --secondary-color: #003f66; /* indigo-dye */
    --triandary-color: #004b7a;

    /* Secondary Colors */
    --accent-color-1: #166891; /* bice-blue */
    --accent-color-2: #047a8c; /* teal */

    /* Accent Color */
    --accent-color: #08bdbd; /* verdigris */

    /* Other specific colors if needed */
    --header-color: #014867; /* indigo-dye-2 */
    --button-primary-bg: #00375a; /* prussian-blue */
    --button-primary-text: #ffff;
    --button-secondary-bg: #166891; /* bice-blue */
    --button-secondary-text: #ffffff;

    /* Additional colors if needed for theme consistency */
    --background-color-dark: #003f66; /* indigo-dye */
    --background-color-light: #e9ebec; /* Grey text color */
    --text-color-dark-primary: #00375a; /* Prussian Blue */
    --text-color-dark-secondary: #002138; /* Oxford Blue */
    --text-color-light-primary: #c7ccd0; /* Silver */
    --text-color-light-secondary: #e9ebec; /* Grey text color */
}

body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark-secondary);
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
}

section {
    max-width: 90%;
    margin: 0 auto;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-light-primary);
}

/* Buttons */
button.primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    cursor: pointer;
}

button.primary:hover {
    background-color: var(--accent-color-2);
}

button.secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    cursor: pointer;
}

button.secondary:hover {
    background-color: var(--triandary-color);
}

/* Links */
a {
    color: var(--text-color-light-primary);
}

a:hover {
    color: var(--text-color-light-secondary); /* teal */
}

/* Forms */
input,
textarea {
    border: 1px solid var(--secondary-color);
}

input:focus,
textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

@media (max-width: 639px) {
    main {
        margin: 2rem;
    }
}
