:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Primary Colors */
    --primary-color: #00375a; /* prussian-blue */
    --secondary-color: #003f66; /* indigo-dye */
    --triandary-color: #004b7a;

    /* Secondary Colors */
    --accent-color-1: #166891; /* bice-blue */
    --accent-color-2: #047a8c; /* teal */

    /* Accent Color */
    --accent-color: #08bdbd; /* verdigris */

    /* Other specific colors if needed */
    --header-color: #014867; /* indigo-dye-2 */
    --button-primary-bg: #e9ebec; /* prussian-blue */
    --button-primary-text: #00375a;
    --button-secondary-bg: #166891; /* bice-blue */
    --button-secondary-text: #ffffff;

    /* Additional colors if needed for theme consistency */
    --background-color-dark: #003f66; /* indigo-dye */
    --background-color-light: #e9ebec; /* Grey text color */
    --text-color-dark-primary: #00375a; /* Prussian Blue */
    --text-color-dark-secondary: #002138; /* Oxford Blue */
    --text-color-light-primary: #e9ebec; /* Silver */
    --text-color-light-secondary: #c7ccd0; /* Grey text color */
}

body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark-secondary);
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
}

section {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 5rem auto;
}
section h2,
section h4 {
    text-align: center;
} section h2 {
    font-size: 1.75rem;
    margin-bottom: 0rem;
} section h4 {
    margin: .5rem 0 1rem 0;
    font-size: 1.35rem;
}
section a {
    text-align: center;
}
.page {
    margin-top: .5rem;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-light-primary);
}

/* Buttons */
.button-primary {
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    cursor: pointer;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 800;
    border: 2px solid transparent;
}
.button-primary:hover {
    color: var(--accent-color-2);
    border: 2px solid var(--accent-color);
}

.button-secondary {
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    cursor: pointer;
    margin: 0.25rem 0;
    padding: 0.35rem;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 800;
    border: 2px solid transparent;
}
.button-secondary:hover {
    background-color: var(--triandary-color);
}
.button-secondary:active {
    color: var(--text-color-dark-secondary);
    transform: scale(0.9);
}

/* Links */
a {
    color: var(--text-color-light-primary);
}

a:hover {
    color: var(--text-color-light-secondary);
}

/* Forms */
input,
textarea {
    border: 1px solid var(--secondary-color);
}

input:focus,
textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

ul,
li {
    color: var(--text-color-light-secondary);
} li a {
    text-decoration: none;
}

img {
    max-height: 512px;
    width: auto;
    display: block;
    border-radius: 0.35rem;
    pointer-events: none;
    margin: 0 1rem;
}

@media (max-width: 960px) {
    section {
        width: 95%;
    }
}
